body {
  margin-top: 0px;
  background-color: #FFF;
}

.header {
  position: fixed;
  width: 100%;
  background-color: #031927;
  z-index: 2;
}
.header .navbar {
  min-height: 70px;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}
.header .navbar .nav-branding {
  color: #F54854;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.header .navbar .nav-menu {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  margin: 0;
  background-color: #031927;
}
.header .navbar .nav-menu .nav-item {
  list-style: none;
}
.header .navbar .nav-menu .nav-item .nav-link {
  text-transform: uppercase;
  color: #fff;
  transition: 0.7s ease;
}
.header .navbar .nav-menu .nav-item .nav-link:hover {
  color: #717977;
}

.hamburger {
  display: none;
  cursor: pointer;
}
.hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.personal {
  background: linear-gradient(to bottom, gray 10%, white 40%);
  text-align: center;
  color: #676f8d;
  padding: 90px 25px 25px;
}
.personal .descripcion {
  padding: 50px;
  display: flex;
  align-items: center;
}
.personal .descripcion .profile-photo img {
  width: 25vw;
  border-radius: 40%;
  box-shadow: 10px 12px -10px -4px rgba(0, 0, 0, 0.57);
}
.personal .descripcion .desc1 .developer {
  align-items: center;
  padding: 1rem 2rem;
}
.personal .descripcion .desc1 .developer .name {
  font-family: "Playfair Display", serif;
  font-size: 6em;
  padding: 0 2rem;
}
.personal .descripcion .desc1 .developer .profession {
  display: flex;
  padding: 0 2rem;
  box-sizing: border-box;
  font-size: 1.7rem;
  font-family: monospace;
  color: var(--text);
  width: 30ch;
  animation: profession 2s steps(40) forwards;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid var(--text);
}
.personal .descripcion .desc1 .profile {
  align-items: center;
  padding: 0rem 2rem;
  display: flex;
  text-align: justify;
  color: rgba(17, 27, 33, 0.7921568627);
  position: relative;
}
.personal .descripcion .desc1 .profile p {
  padding: 0 2rem;
  margin-top: 0;
  font-weight: 700;
}
.personal .descripcion .desc1 .presentacion .btn-dw {
  padding: 0 1rem;
}
.personal .descripcion .desc1 .presentacion .btn-dw .dw-cv {
  border: none;
  padding: 0 1rem;
  border-radius: 30px;
  background-color: #E84855;
  color: white;
  cursor: pointer;
  transition: 0.2s all;
}
.personal .descripcion .desc1 .presentacion .btn-dw .dw-cv:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.personal .descripcion .desc1 .presentacion .btn-dw .dw-cv:hover {
  color: white;
  background-color: #2D3250;
}

.resume {
  padding: 2rem 5rem;
}
.resume .page {
  border-radius: 10px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.resume .page p {
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: #414141;
}
.resume .page .front .lenguajes {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 1rem;
  gap: 2rem;
}
.resume .page .front .lenguajes .lenguaje {
  background-color: #031927;
  color: #fff;
  border-radius: 0.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 200px;
  cursor: pointer;
}
.resume .page .front .lenguajes .lenguaje .content-img {
  padding: 1rem 0;
}
.resume .page .front .lenguajes .lenguaje .content-title {
  padding: 0 1rem;
}
.resume .page .front .lenguajes .lenguaje .content-name {
  padding: 0 0 1rem 0;
}
.resume .page .front .lenguajes .lenguaje p {
  color: #fff;
  margin: 0;
}

.proyectos {
  padding: 1rem 5rem;
}
.proyectos .container-project .project {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 0px;
}
.proyectos .container-project .project .div1 {
  grid-area: 1/1/2/2;
}
.proyectos .container-project .project .div2 {
  grid-area: 1/2/2/3;
}
.proyectos .container-project .project .div3 {
  grid-area: 1/3/2/4;
}
.proyectos .container-project .project .div4 {
  grid-area: 2/1/3/2;
}
.proyectos .container-project .project .idea {
  background-color: #031927;
  margin: 2rem;
  width: 100%;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 4px;
}
.proyectos .container-project .project .idea figure .principal {
  width: 100%;
}
.proyectos .container-project .project .idea .info-project {
  padding: 1rem;
}
.proyectos .container-project .project .idea .info-project h2 {
  color: white;
  font-size: 1.5rem;
  padding: 0;
}
.proyectos .container-project .project .idea .info-project p {
  color: white;
}
.proyectos .container-project .project .idea .info-project .programas {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.contact {
  padding: 2rem 5rem;
  text-align: center;
  background-color: #676f8d;
}
.contact .encabezado {
  color: #fff;
}
.contact p {
  font-size: 1.2rem;
  line-height: 32px;
  font-weight: 400;
  color: #FFF;
}
.contact .contenedor-canals {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .contenedor-canals .canals {
  display: flex;
  padding: 0 1rem;
  align-items: center;
}
.contact .contenedor-canals .canals .icon-canal i {
  font-size: 2rem;
  padding: 0 1rem;
}
.contact .contenedor-canals .canals h4 {
  margin: 0;
}
.contact .contenedor-canals .canals a {
  color: #FFF;
  transition: 0.7s ease;
}
.contact .contenedor-canals .canals a:hover {
  color: #FFB17A;
}

@keyframes profession {
  from {
    width: 0;
  }
}
@keyframes animacion {
  50% {
    border-color: transparent;
  }
}
@media (max-width: 1000px) {
  .presentacion,
  .about,
  .resume,
  .contact {
    padding: 1rem;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .about .presentacion .profile-photo {
    padding: 1rem;
  }
  .about .presentacion .profile-photo img {
    width: 60%;
  }
  .about .presentacion .profile {
    padding: 0;
  }
  .contenedor-canals {
    flex-direction: column;
  }
  .proyectos .container-project .project {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
  .proyectos .container-project .project .div1 {
    grid-area: 1/1/2/2;
  }
  .proyectos .container-project .project .div2 {
    grid-area: 1/2/2/3;
  }
  .proyectos .container-project .project .div3 {
    grid-area: 2/1/3/2;
  }
  .proyectos .container-project .project .div4 {
    grid-area: 2/2/3/3;
  }
  .proyectos .container-project .project .idea {
    width: 100%;
    margin: 2rem 0;
  }
}
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .hamburger.activate .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.activate .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.activate .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .header {
    position: fixed;
    width: 100%;
    z-index: 2;
  }
  .nav-menu {
    padding: 0;
    position: fixed;
    top: -100%;
    left: 0;
    gap: 0;
    flex-direction: column;
    background-color: #000;
    width: 100%;
    text-align: center;
    transition: 0.5s all ease-out;
  }
  .nav-item {
    margin: 16px 0px;
  }
  .nav-menu.activate {
    left: 0;
    right: 0;
    top: 70px;
  }
  .personal .descripcion {
    padding: 50px 0;
  }
  .personal .descripcion .name {
    font-size: 4.5em;
  }
  .personal .descripcion .developer .profession {
    font-size: 1.5rem;
    white-space: pre-wrap;
  }
  .resume .page .encabezado {
    justify-content: center;
  }
  .resume .page .front .lenguajes {
    justify-content: center;
  }
  .resume .page .front .lenguajes .lenguaje {
    width: 40%;
  }
  .resume img {
    width: 50%;
  }
  .proyectos .container-project .project {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
  .proyectos .container-project .project .div1 {
    grid-area: 1/1/2/2;
  }
  .proyectos .container-project .project .div2 {
    grid-area: 2/1/3/2;
  }
  .proyectos .container-project .project .div3 {
    grid-area: 3/1/4/2;
  }
  .proyectos .container-project .project .div4 {
    grid-area: 4/1/5/2;
  }
  .proyectos .container-project .project .idea {
    width: 100%;
    margin: 2rem 0;
  }
}
html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Raleway";
}

a {
  text-decoration: none;
}

.encabezado {
  text-align: center;
  color: #F54854;
  font-weight: 800;
  font-size: 40px;
  padding: 1rem 0;
}

/*# sourceMappingURL=styles.css.map */
