body {
    margin-top: 0px;
    background-color: #FFF;
}

.header {
    position: fixed;
    width: 100%;
    background-color: #031927;
    z-index: 2;

    .navbar {
        min-height: 70px;
        justify-content: space-between;
        align-items: center;
        padding: 20px 40px;

        .nav-branding {
            color: #F54854;
            font-size: 1.5rem;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 0.1rem;
        }

        .nav-menu {
            display: flex;
            justify-content: space-between;
            gap: 60px;
            margin: 0;
            background-color: #031927;

            .nav-item {
                list-style: none;

                .nav-link {
                    text-transform: uppercase;
                    color: #fff;
                    transition: 0.7s ease;
                }

                .nav-link:hover {
                    color: #717977;
                }
            }
        }
    }
}

.hamburger {
    display: none;
    cursor: pointer;

    .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: white;
    }
}

.personal {
    background: linear-gradient(to bottom, gray 10%, white 40%);
    text-align: center;
    color: #676f8d;
    padding: 90px 25px 25px;

    .descripcion {
        padding: 50px;
        display: flex;
        align-items: center;
    
        .profile-photo{
    
            img {
                width: 25vw;
                border-radius: 40%;
                box-shadow: 10px 12px -10px -4px rgba(0,0,0,0.57);
                }
        }
        .desc1{    
    
        .developer {
            align-items: center;
            padding: 1rem 2rem;

            .name {
                font-family: 'Playfair Display', serif;
                font-size: 6em;
                padding: 0 2rem;
            }

            .profession {
                display: flex;
                padding: 0 2rem;
                box-sizing: border-box;
                font-size: 1.7rem;
                font-family: monospace;
                color: var(--text);
                width: 30ch;
                animation: profession 2s steps(40) forwards;
                white-space: nowrap;
                overflow: hidden;
                border-right: 3px solid var(--text);
            }
        }
        .profile{
            align-items: center;
            padding: 0rem 2rem;

            display: flex;
                text-align: justify;
                color: #111b21ca;
                position: relative;
                
                p{
                    padding: 0 2rem;
                    margin-top: 0;
                    font-weight: 700;
                }
    }
    .presentacion {
        .btn-dw {
            padding: 0 1rem;
    
            .dw-cv {
                border: none;
                padding: 0 1rem;
                border-radius: 30px;
                background-color: #E84855;
                color: white;
                cursor: pointer;
                transition: 0.2s all;
            }
    
            .dw-cv:active {
                transform: scale(0.98);
                box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
            }
    
            .dw-cv:hover {
                color: white;
                background-color: #2D3250;
            }
        }
    }    
}
}
}

.resume {
    padding: 2rem 5rem;

    .page {
        border-radius: 10px;
        background: #fff;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

        p {
            font-size: 16px;
            line-height: 32px;
            font-weight: 400;
            color: #414141;
        }

        .front {

            .lenguajes {
                justify-content: center;
                display: flex;
                flex-wrap: wrap;
                list-style: none;
                padding: 1rem;
                gap: 2rem;

                .lenguaje {
                    background-color: #031927;
                    color: #fff;
                    border-radius: 0.5rem;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    width: 200px;
                    cursor: pointer;

                    .content-img {
                        padding: 1rem 0;
                    }

                    .content-title {
                        padding: 0 1rem;
                    }

                    .content-name {
                        padding: 0 0 1rem 0;
                    }

                    p {
                        color: #fff;
                        margin: 0;
                    }
                }
            }
        }
    }
}

.proyectos {
    padding: 1rem 5rem;

    .container-project {
    
        .project {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(2, 1fr);
                grid-column-gap: 20px;
                grid-row-gap: 0px;
                
                .div1 { grid-area: 1 / 1 / 2 / 2; }
                .div2 { grid-area: 1 / 2 / 2 / 3; }
                .div3 { grid-area: 1 / 3 / 2 / 4; }
                .div4 { grid-area: 2 / 1 / 3 / 2; }
    
            .idea {
                background-color: #031927;
                margin: 2rem;
                width: 100%;
                cursor: pointer;
                box-shadow: rgba(0, 0, 0, 0.60) 0px 1px 4px;

                figure {
                    .principal {
                        width: 100%;
                    }
                }

                .info-project {
                    padding: 1rem;

                    h2 {
                        color: white;
                        font-size: 1.5rem;
                        padding: 0;
                    }

                    p {
                        color: white;
                    }

                    .programas {
                        display: flex;
                        justify-content: space-between;
                        padding: 0;
                    }
                }
            }
        }
    }
}

.contact {
    padding: 2rem 5rem;
    text-align: center;
    background-color: #676f8d;

    .encabezado {
        color: #fff;
    }

    p {
        font-size: 1.2rem;
        line-height: 32px;
        font-weight: 400;
        color: #FFF;
    }

    .contenedor-canals {
        display: flex;
        justify-content: center;
        align-items: center;

        .canals {
            display: flex;
            padding: 0 1rem;
            align-items: center;

            .icon-canal {
                i {
                    font-size: 2rem;
                    padding: 0 1rem;
                }
            }

            h4 {
                margin: 0;
            }

            a {
                color: #FFF;
                transition: 0.7s ease;
            }

            a:hover {
                color: #FFB17A;
            }
        }
    }
}

@keyframes profession {
    from {
        width: 0;
    }
}

@keyframes animacion {
    50% {
        border-color: transparent;
    }
}

@media (max-width: 1000px) {

    .presentacion,
    .about,
    .resume,
    .contact {
        padding: 1rem;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    .about {
        .presentacion {
            .profile-photo {
                padding: 1rem;

                img {
                    width: 60%;
                }
            }

            .profile {
                padding: 0;
            }
        }
    }

    .contenedor-canals {
        flex-direction: column;
    }
    
    .proyectos {
        .container-project {
            .project {
                    padding: 0;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(2, 1fr);
                    grid-column-gap: 10px;
                    grid-row-gap: 10px;
                    
                    .div1 { grid-area: 1 / 1 / 2 / 2; }
                    .div2 { grid-area: 1 / 2 / 2 / 3; }
                    .div3 { grid-area: 2 / 1 / 3 / 2; }
                    .div4 { grid-area: 2 / 2 / 3 / 3; }

                .idea {
                    width: 100%;
                    margin: 2rem 0;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .hamburger.activate .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.activate .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.activate .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .header {
        position: fixed;
        width: 100%;
        z-index: 2;
    }

    .nav-menu {
        padding: 0;
        position: fixed;
        top: -100%;
        left: 0;
        gap: 0;
        flex-direction: column;
        background-color: #000;
        width: 100%;
        text-align: center;
        transition: .5s all ease-out;
    }

    .nav-item {
        margin: 16px 0px;
    }

    .nav-menu.activate {
        left: 0;
        right: 0;
        top: 70px;
    }

    .personal{
        .descripcion{
            padding: 50px 0;
            .name{
                font-size: 4.5em;
            }
            .developer{
                .profession{
                    font-size: 1.5rem;
                    white-space: pre-wrap;
                }
            }
        }
    }

    .resume {
        .page {
            .encabezado {
                justify-content: center;
            }

            .front {
                .lenguajes {
                    justify-content: center;

                    .lenguaje {
                        width: 40%;
                    }
                }
            }
        }

        img {
            width: 50%;
        }
    }

    .proyectos {
        .container-project {
            .project {
                grid-template-columns: 1fr;
                grid-template-rows: repeat(4, 1fr);
                grid-column-gap: 10px;
                grid-row-gap: 10px;
            
                .div1 { grid-area: 1 / 1 / 2 / 2; }
                .div2 { grid-area: 2 / 1 / 3 / 2; }
                .div3 { grid-area: 3 / 1 / 4 / 2; }
                .div4 { grid-area: 4 / 1 / 5 / 2; }
                                
                .idea {
                    width: 100%;
                    margin: 2rem 0;
                }
            }
        }
    }
}

