@use "components";

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Raleway';
}

a {
    text-decoration: none;
}

.encabezado {
    text-align: center;
    color: #F54854;
    font-weight: 800;
    font-size: 40px;
    padding: 1rem 0;
}

.container-project {
    .project {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 20px;
            grid-row-gap: 0px;
            
            .div1 { grid-area: 1 / 1 / 2 / 2; }
            .div2 { grid-area: 1 / 2 / 2 / 3; }
            .div3 { grid-area: 1 / 3 / 2 / 4; }
            .div4 { grid-area: 2 / 1 / 3 / 2; }

        .idea {
            background-color: #031927;
        }
    }
}