@use "components";

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Raleway';
}

a {
    text-decoration: none;
}

.encabezado {
    text-align: center;
    color: #F54854;
    font-weight: 800;
    font-size: 40px;
    padding: 1rem 0;
}

.container-project {
    .project {
        padding: 2rem;
        display: flex;
        justify-content: space-evenly;

        .idea {
            background-color: #031927;
        }
    }
}