<div class="header">
  <nav class="nav">
    <div class="menu">
      <a href="#" class="logo">Reyes</a>
      <ul id="main-menu" class="main-menu">
        <li class="main-menu-item">
          <a href="#">Home</a>
        </li>
        <li class="main-menu-item">
          <a href="#">About</a>
        </li>
        <li class="main-menu-item">
          <a href="#">Resume</a>
        </li>
        <li class="main-menu-item">
          <a href="#">Portafolio</a>
        </li>
       </ul>
       <div class="menu-Toggle">
        <img src="../assets/menu.png" alt="icono de menu">
       </div>
    </div>
    
  </nav>
</div>