<div class="header">
  <h1>Jose Luis Reyes</h1>
  <nav>
    <ul>
      <li><a href="#">Inicio</a></li>
      <li><a href="#">Acerca de</a></li>
      <li><a href="#">Menu</a></li>
      <li><a href="#">contacto</a></li>
    </ul>
  </nav>
</div>
<div class="container">
  <p class="acerca">Estoy en busca de retos que me permitan ampliar mis conocimientos
    y crecer como profesional. Me emociona mucho adentrarme laboralmente en el mundo del desarrollo.
  </p>
  <a href="#">
    <img src="/../img/linkedin.png" alt="www.linkedin.com">
  </a>
</div>